.sideData{
	text-transform: uppercase;
	font-weight: bold;
	background-color: #2C3333;
	border-radius: 10px;
	flex-basis: auto;
	margin: 15px;
	padding: 25px;
	max-width: 300px;
	color: #F5F2E7;
	text-align: justify;
}
