/* colores

Primario: #2C3333
Secundario: #395B64
Terciario: #2666CF
Cuaternario: #F5F2E7 */


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 1rem;
}
body {
	background-color: #395B64;
	min-width: 600px;
	
}
body::-webkit-scrollbar{
	width: 13px;
}
body::-webkit-scrollbar-track{
	background: #2C3333;
}
body::-webkit-scrollbar-thumb{
	background: #F5F2E7;
	border-radius: 30px;
	border: 3px solid #2C3333;
}
.body{
	width: device-width !important;
	justify-content: center;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	flex-flow: column nowrap;
}
.nav{
	border-radius: 10px;
	background-color: #2C3333;
	font-weight: bolder;
	margin: 15px;
	padding: 10px;
	min-width: 300px;
	justify-content: center;
}
.nav button{
	text-align: right;
	margin: 0;
	padding: 5px;
	margin-bottom: 5px;
	width: 100%;
	font-weight: bold;
	font-size: 1rem;
	background-color: #2C3333;
	border: none;
	border-radius: 10px;
	color: #F5F2E7;
}
nav{
	display: flex;
	flex-flow: row nowrap;
	
}
nav a{
	text-align: center;
	display: block;
	text-decoration: none;
	color: #F5F2E7;
	padding: 10px;
	flex: 1 1 auto;
	/* min-width: 275px; */
	align-self: auto;
}
nav a:hover{
	background-color: #395B64;
	border-radius: 10px;
}
.container{
	display: flex;

}
.topics{

	text-transform: uppercase;
	font-weight: bold;
	background-color: #2C3333;
	border-radius: 10px;
	margin: 15px;
	padding: 10px;
	flex: 1;
	width: 300px;
}
#btn-toggle {
	margin: 0;
	padding: 5px;
	margin-bottom: 5px;
	width: 100%;
	font-weight: bold;
	font-size: 2rem;
	background-color: #2C3333;
	border: none;
	border-radius: 10px;
	color: #F5F2E7;
}
#btn-toggle:hover{
	background-color: #395B64;
}

.topics ul hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.topics ul{
	display: flex;
	flex-flow: column nowrap;
}
.topics li{
	align-items: center;
	display: flex;
	color: #F5F2E7;
}
.topics li span{
	padding: 5px;
	background-color: #395B64;
	border-radius: 20px;
}

.topics a{
	color: #F5F2E7;
	padding: 10px;
	width: 100%;
	text-decoration: none;
}
.topics a:hover {
	background-color: #395B64;
	border-radius: 10px;

}


.topics ul{
	list-style: none;
}
.data{
	color: #F5F2E7;
	border: 2px solid #F5F2E7;
	border-radius: 10px;
	background-color: #395B64;
	margin: 15px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex: 3;
	min-width: 300px;
	line-height: 150%;
}
.data h1{
	font-weight: bold;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.data h2{
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.data p{
	display : block;
	padding-top:20px;
	padding-bottom: 20px;
	font-size: 20px;
	text-align: justify;
	line-height: 30px;
}

.data .code{
	display: block;
	font-family: monospace;
	padding: 5px;
	border-radius: 10px;
	border: 3px solid #2666CF;
	background-color: #2666CF;
	width: 100%;
	height: auto;
}
.data .code img{
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 10px;
	height: auto;
}

footer{
	margin-bottom: 0px;
	background-color: #2C3333;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #F5F2E7;
	font-weight: bold;
}
footer div{
	display: flex;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	flex: 1;
}

@media all and (max-width:700px){
	.container {
		flex-direction: column;
	}
	nav {
		flex-direction: column;
	}
	.left{
		display: block;
		min-width: 300px;
	}
	.topics{
		margin: 15px;
		width: auto;
		min-width: 300px;
	}
	.body{
		padding: 15px 5px 15px 5px;
		min-width: 300px;
	}
	footer{
		flex-flow: column nowrap;
	}
	footer div{
		width: 100%;
	}
}